html,
body {
  padding: 0;
  margin: 0;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}

.sg-nav {
  background: #102738;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.sg-nav .container .sg-nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}
@media screen and (max-width: 1024px) {
  .sg-nav .container .sg-nav-desktop {
    display: none;
  }
}
.sg-nav .container .sg-nav-desktop a {
  display: block;
}
.sg-nav .container .sg-nav-desktop a img {
  width: 200px;
  height: 37px;
}
.sg-nav .container .sg-nav-desktop .city-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sg-nav .container .sg-nav-desktop .city-wrapper .city {
  text-decoration: none;
  font-family: "" Open Sans "", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.sg-nav .container .sg-nav-desktop .city-wrapper .orange-dot {
  width: 10px;
  height: 10px;
  background-color: #ed561c;
  border-radius: 100px;
}
.sg-nav .container .sg-nav-desktop .advertise {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  color: white;
  background-color: #ed561c;
  padding-block: 10px;
  padding-inline: 20px;
  text-decoration: none;
  border-radius: 100px;
}
.sg-nav .container .sg-nav-desktop .advertise:hover {
  background-color: #b73b0c;
  transition: all;
  transition-duration: 300ms;
}
.sg-nav .container .sg-nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 18px;
}
@media screen and (min-width: 1024px) {
  .sg-nav .container .sg-nav-mob {
    display: none;
  }
}
.sg-nav .container .sg-nav-mob img {
  width: 200px;
}
.sg-nav .container .sg-nav-mob .btn img {
  width: 30px;
  filter: invert(99%) sepia(3%) saturate(0%) hue-rotate(211deg) brightness(106%) contrast(100%);
}
.sg-nav .container .sg-nav-mob .city-wrapper .city {
  text-decoration: none;
  font-family: "" Open Sans "", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  display: block;
}
.sg-nav .container .sg-nav-mob .advertise {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  color: white;
  background-color: #ed561c;
  padding-block: 10px;
  padding-inline: 20px;
  text-decoration: none;
  border-radius: 100px;
}
.sg-nav .container .sg-nav-mob .advertise:hover {
  background-color: #b73b0c;
  transition: all;
  transition-duration: 300ms;
}
@media screen and (max-width: 640px) {
  .sg-nav .container .sg-nav-mob .modal {
    width: 100%;
    --bs-modal-width: 100%;
  }
}
.sg-nav .container .sg-nav-mob .modal .modal-dialog {
  margin-top: 0px;
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .sg-nav .container .sg-nav-mob .modal .modal-dialog {
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .sg-nav .container .sg-nav-mob .modal .modal-dialog .modal-content .modal-body {
    width: 100%;
  }
}
.sg-nav .container .sg-nav-mob .modal .modal-dialog .modal-content .modal-body .modal-inner-wrapper .city {
  margin-bottom: 10px;
  width: fit-content;
  margin-inline: auto;
  display: block;
}
.sg-nav .container .sg-nav-mob .modal .modal-dialog .modal-content .modal-body .modal-inner-wrapper .advertise {
  display: block;
  margin-inline: auto;
  margin-top: 20px;
}
.sg-nav .container .sg-nav-mob .modal .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(100%, 0px) !important;
}
.sg-nav .container .sg-nav-mob .modal .modal.show .modal-dialog {
  transform: none !important;
}

.sg-footer {
  background-color: #fff7f3;
  padding-top: 43px;
  padding-bottom: 33px;
}
.sg-footer .container .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
@media screen and (max-width: 1280px) {
  .sg-footer .container .wrapper {
    gap: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .sg-footer .container .wrapper {
    grid-template-columns: repeat(2, 300px);
  }
}
@media screen and (max-width: 640px) {
  .sg-footer .container .wrapper {
    grid-template-columns: repeat(1, 300px);
    gap: 50px;
  }
}
.sg-footer .container .wrapper .contact {
  display: flex;
  flex-direction: column;
}
.sg-footer .container .wrapper .contact > img {
  width: 252px;
  margin-bottom: 15px;
}
.sg-footer .container .wrapper .contact > a {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-decoration: none;
  color: #505f6b;
  margin-top: 12px;
}
.sg-footer .container .wrapper .contact > a > img {
  margin-right: 5px;
}
.sg-footer .container .wrapper .social-media p {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #505f6b;
}
.sg-footer .container .wrapper .social-media div {
  display: flex;
  gap: 10px;
}
.sg-footer .container .wrapper .social-media div a {
  text-decoration: none;
}
.sg-footer .container .wrapper .social-media div a img {
  width: 36px;
}
.sg-footer .container .wrapper .footer-illinois p:nth-of-type(1),
.sg-footer .container .wrapper .footer-florida p:nth-of-type(1) {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #505f6b;
}
.sg-footer .container .wrapper .footer-illinois p:nth-of-type(2),
.sg-footer .container .wrapper .footer-florida p:nth-of-type(2) {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #505f6b;
}
.sg-footer .container .copyright p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #505f6b;
  margin-top: 12px;
}
@media screen and (max-width: 1024px) {
  .sg-footer .container .copyright p {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
