.sg-illinois-inner {
  margin-bottom: 100px;
}
.sg-illinois-inner .container .wrapper-2 {
  background: linear-gradient(180deg, rgba(16, 39, 56, 0.02) 0%, rgba(45, 110, 158, 0.02) 100%);
  margin-top: 60px;
  border: 1px solid rgba(237, 86, 28, 0.3019607843);
  border-radius: 14px;
  padding-block: 24px;
  padding-inline: 22px;
}
.sg-illinois-inner .container .wrapper-2 .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .sg-illinois-inner .container .wrapper-2 .title {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
.sg-illinois-inner .container .wrapper-2 .title h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color: #000;
  margin-bottom: 0;
}
.sg-illinois-inner .container .wrapper-2 .title a {
  background-color: #ed561c;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-inline: 25px;
  padding-block: 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sg-illinois-inner .container .wrapper-2 .title a img {
  width: 13px;
}
.sg-illinois-inner .container .wrapper-2 .title a:hover {
  background-color: #b73b0c;
  transition: all 300ms;
}
.sg-illinois-inner .container .wrapper-2 h5 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
}
.sg-illinois-inner .container .wrapper-2 .about {
  margin-top: 20px;
}
.sg-illinois-inner .container .wrapper-2 .about p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #505f6b;
  padding-top: 13px;
}
.sg-illinois-inner .container .wrapper-2 .website,
.sg-illinois-inner .container .wrapper-2 .phone,
.sg-illinois-inner .container .wrapper-2 .address,
.sg-illinois-inner .container .wrapper-2 .social-media {
  padding-top: 10px;
}
.sg-illinois-inner .container .wrapper-2 .website div,
.sg-illinois-inner .container .wrapper-2 .phone div,
.sg-illinois-inner .container .wrapper-2 .address div,
.sg-illinois-inner .container .wrapper-2 .social-media div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sg-illinois-inner .container .wrapper-2 .website div img,
.sg-illinois-inner .container .wrapper-2 .phone div img,
.sg-illinois-inner .container .wrapper-2 .address div img,
.sg-illinois-inner .container .wrapper-2 .social-media div img {
  width: 18px;
}
.sg-illinois-inner .container .wrapper-2 .website p,
.sg-illinois-inner .container .wrapper-2 .phone p,
.sg-illinois-inner .container .wrapper-2 .address p,
.sg-illinois-inner .container .wrapper-2 .social-media p {
  padding-top: 17px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: black;
}
.sg-illinois-inner .container .wrapper-2 .social-media a {
  padding-top: 17px;
}
.sg-illinois-inner .container .wrapper-2 .social-media a img {
  width: 36px;
}
.sg-illinois-inner .container .wrapper-2 .full-description-image {
  padding-top: 30px;
}
.sg-illinois-inner .container .wrapper-2 .full-description-image img {
  max-width: 618px;
  width: 100%;
  padding-top: 17px;
}

/*# sourceMappingURL=single-illinois.css.map */
